# local = pakai mock/localStorage, api = pakai backend Express
VITE_DATA_SOURCE=local

# Base URL backend Express saat sudah jadi
VITE_API_BASE_URL=http://localhost:5000/api

# Panjang OTP register
VITE_OTP_LENGTH=6
